/* Main stylesheet */
/*! Copyright © 2014  Basil Peace */

/* This file is part of design of FIDATA Website. */

// CSS Reset

$mainFontFamily: PT Sans, Arial, Helvetica, sans-serif;
$captionFontFamily: PT Sans Caption, Verdana, Arial, Helvetica, sans-serif;
$monoFontFamily: PT Mono, Courier New, Courier, monospace;
$mathFontFamily: XITS Math; // TODO

$accent1Color: #006000;
$accent2Color: #2020b0;
$mainColor: #303030;
$backgroundColor: #FFFFFF;
$blockBackgroundColor: #A40000;
$blockHoverBackgroundColor: #882222;
$blockTextColor: #FFFFFF;
$errorColor: #FF3300;

* {
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 13px;
	font-family: $mainFontFamily;
	color: $mainColor;
	// font-stretch: normal;
	// font-style: normal;
	// font-variant: normal;
	// text-decoration: none;
	// text-shadow: none;
	// text-transform: none;
}
form {}

body {
	behavior: url('<%= @items['/assets/scripts/csshover3.htc/'].path %>');
	background: $backgroundColor;
}

// Standard tags
div {
	box-sizing: border-box;
}
h1 {
	font-family: $captionFontFamily;
	font-weight: bold;
	color: $accent1Color;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	clear: both;
}
h2 {
	font-family: $captionFontFamily;
	font-weight: bold;
	color: $accent1Color;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 6px;
	margin-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	clear: both;
}
h3 {
	font-family: $captionFontFamily;
	font-weight: bold;
	color: $accent1Color;
	text-align: justify;
	font-size: 16px;
	padding-top: 4px;
	margin-top: 4px;
	padding-bottom: 6px;
	margin-bottom: 6px;
}
h4 {
	font-family: $captionFontFamily;
	font-weight: bold;
	color: $mainColor;
	text-align: justify;
	font-size: 13px;
	padding-top: 3px;
	margin-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

b {
	color: inherit;
	font: inherit;
	font-weight: bold;
	text-decoration: inherit;
}
p, li {
	margin-bottom: 6px;
	padding-bottom: 6px;
	text-align: justify;
}
ul {
	margin-left: 20px;
	list-style: url(<%= @items['/images/bullet2/'].path %>) outside /* inside */ square;
}
ul li {
	text-indent: 0px;
}
ol {
	margin-left: 20px;
	list-style: decimal;
}
ol ol {
	list-style: lower-alpha;
}
dt {
	font-family: $captionFontFamily;
	font-weight: bold;
	color: $mainColor;
	text-align: justify;
	font-size: 13px;
	padding-top: 3px;
	margin-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
dd {
	margin-left: 40px;
	margin-bottom: 6px;
	padding-bottom: 6px;
	text-align: justify;
}
pre, code {
	font-family: $monoFontFamily;
	font-size: 12px;
	text-align: left;
	margin-bottom: 6px;
	padding-bottom: 6px;
}
img {
	margin-top: 4px;
	margin-bottom: 6px;
	border: solid $mainColor 1px;
}
#body img, #body table {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}
div.left, img.left {
	float: left;
	margin-left: 0px;
	margin-right: 8px;
}
div.right, img.right {
	float: right;
	margin-right: 0px;
	margin-left: 8px;
}
div.center, img.center {
}
table.smallFont, table.smallFont th, table.smallFont td {
	font-size: 10px;
}
a:link, a:visited {
	font-size: inherit;
	font-size: expression(this.parentNode.currentStyle['fontSize']);
	color: $accent2Color;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: $mainColor;
	text-decoration: underline!important;
}
// h1 a, h2 a, h3 a, h4 a {
//	color: inherit;
//}
span {
	font-size: inherit;
	font-size: expression(this.parentNode.currentStyle['fontSize']);
	color: inherit;
	color: expression(this.parentNode.currentStyle['color']);
}
th, thead td {
	text-align: center;
	font-weight: bold;
}
hr {
	height: 1px;
	background: $mainColor;
	margin: 4px 0px;
}
input, textarea, select {
	vertical-align: middle;
	margin-bottom: 4px;
	padding: 2px;
}
input[type=text], input[type=password], input[type=file], textarea, select {
	border: $mainColor 1px solid;
}
input[type=button], input[type=submit] {
	border: $mainColor 1px solid;
	color: $backgroundColor;
	background: $mainColor;
	font-family: $captionFontFamily;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
	// border: $errorColor 1px solid;
}
label {
	cursor: pointer;
	cursor: hand;
} // IE

// HEADER
div#header { // Block of header
	color: $backgroundColor;
	height: 150px;
	background: $blockBackgroundColor;
	border: 1px solid $blockBackgroundColor; // Fixes block width
	                                         // for non-CSS3 browser
	font-size: 12px;
	// vertical-align: middle;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
div#logo { // Block with logo
	background: $blockBackgroundColor;
	width: 150px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
div#logo img { // Logo
	width: 128px;
	height: 128px;
	border: none;
}
div#headerImg { // Cell with a banner and website name
	// background: url(/images/banner6.jpg) no-repeat right;
	vertical-align: top;
	font-size: 12px;
	margin-left: 150px;
	height: 150px;
}
div#topLine { // Top line in the header
	margin: 6px 4px;
	padding: 6px 4px;
	text-align: right;
}
div#websiteNameDiv {
	position: relative;
	top: 32px;
}
h1#websiteName { // Name of website
	color: $blockTextColor;
	font-style: normal;
	font-size: 44px;
	font-weight: bold;
	margin: 0px 0px 12px 18%;
	font-family: Russo One, Arial Black, Impact, PT Sans Caption, Arial, Helvetica, sans-serif;
	text-transform: none;
	padding: 0px;
	// margin: 0px 12px;
	text-align: left;
	clear: none;
}
div#websiteSubtitle {
	color: $blockTextColor;
	text-align: right;
	margin: 12px 8px 12px 22%;
	font-size: 16px;
	overflow: hiddern;
}
div#print { // Print a page
	top: 90px;
	text-align: right;
	position: relative;
	margin-right: 12px
}
div#topLine, div#topLine a:link, div#topLine a:visited, div#print, div#print a:link, div#print a:visited { // Текст и ссылки в заголовке
	color: $blockTextColor;
	text-decoration: none;
}

// Main content
div#main2 {
	text-align: center;
	width: 100%;
	border: $mainColor 1px solid;
	background: $backgroundColor;
}
table#main { // Table with main content
	vertical-align: top
}
td.column { // Columns in right and left
	width: 200px;
	vertical-align: top;
}
table.Block { // Table of block in right and left
	border: $mainColor 1px solid;
	width: 100%;
	margin-bottom: 6px;
}
td.BlockTitle {
	text-align: left;
	padding: 6px;
	background: $blockBackgroundColor;
	font-family: $captionFontFamily;
	color: $blockTextColor;
	font-size: 14px;
	font-weight: bolder;
}
td.BlockTitle:hover {
	background: $blockHoverBackgroundColor;
}
td.BlockContents {
	padding: 4px; background: $backgroundColor;
}
div.menuItem {
	text-align: left;
	margin-left: 10px;
	text-indent: -10px;
}
div.menuItem a:link, div.menuItem a:visited {
	color: $accent1Color;
}
div.menuItem span {
	color: $accent1Color;
	font-weight: bold;
}
div#content {
}
div#translations {
}
td#body { // Cell with main content
	padding: 10px;
	vertical-align: top;
	border: $mainColor 1px solid;
	width: 70%;
	background: $backgroundColor;
}

//#main h1 {
//	line-height: 40px;
//
//	letter-spacing: -1px;
//}

//#main p {
//	line-height: 20px;
//}
#body table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#body th, #body td {
	border: $mainColor 1px solid;
	margin: 0px;
	padding: 1px;
}

div#footer {
	background: none repeat scroll 0 0 $blockBackgroundColor;
	border: 1px solid $mainColor;
	border-top: none;
	width: 100%;
}
div#footer div {
	padding: 2px;
	color: $blockTextColor;
	font-size: 11px;
	text-align: center;
	width: 100%;
}
div#footer a {
	color: $blockTextColor;
	text-decoration: underline;
}
