<div id="header">
	<div id="logo">
		<a href="<%= @config[:base_url] %>/" title="FIDATA"><img src="<%= @items['/images/logo/'].path %>" alt="FIDATA Logo" title="FIDATA Logo" /></a>
	</div>
	<div id="headerImg">
		<!--<div id="topLine"><a href="/index/0-49" alt="Правила пользования сайтом и форумом">Правила пользования</a>&nbsp;| <!--<a href="$RSS_LINK$" title="Лента новостей RSS">RSS</a>&nbsp;| <a href="http://mail.vitus.org.ru" title="Почта" rel="nofollow" target="blank">Почта</a><?endif?>&nbsp;| <a href="$LOGOUT_LINK$" title="Выход">Выход</a></div>-->
		<div id="websiteNameDiv">
			<h1 id="websiteName"><%= @config[:website_name] %></h1>
			<div id="websiteSubtitle"><%= @config[:website_subtitle][@item[:lang]] %></div>
		</div>
		<!--<div id="print"><$WIDGET$('26','%D0%92%D1%8B%D0%B2%D0%B5%D1%81%D1%82%D0%B8%20%D0%BD%D0%B0%20%D0%BF%D0%B5%D1%87%D0%B0%D1%82%D1%8C')></div>-->
	</div>
</div>