<!-- Left column -->
<td class="column">
	<table class="Block" cellspacing="0">
		<thead><tr><td class="BlockTitle">&raquo;&nbsp;<%=
			if @item[:lang] == 'ru'
				'Содержание&nbsp;сайта'
			else
				'Website&nbsp;Content'
			end
		%></td></tr></thead>
		<tbody><tr><td class="BlockContents"><% render "toc.#{@item[:lang]}" do %><% end %></td></tr></tbody>
	</table>
	<table class="Block" cellspacing="0">
		<thead><tr><td class="BlockTitle">&raquo;&nbsp;<%=
		if @item[:lang] == 'ru'
			'Переводы'
		else
			'Translations'
		end
		%></td></tr></thead>
		<tbody><tr><td class="BlockContents"><%= render 'translations.html' %></td></tr></tbody>
	</table>
</td>