<!-- Right column -->
<td class="column">
	<table class="Block" cellspacing="0">
		<thead><tr><td class="BlockTitle">»&nbsp;Twitter</td></tr></thead>
		<tbody><tr><td class="BlockContents"><a class="twitter-timeline"  href="https://twitter.com/fidata_team"  data-widget-id="460120771394670592">Твиты пользователя @fidata_team</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td></tr></tbody>
	</table>
<!--	<table class="Block" cellspacing="0">
		<thead><tr><td class="BlockTitle">»&nbsp;Social networks</td></tr></thead>
		<tbody><tr><td class="BlockContents"></td></tr></tbody>
	</table>-->
</td>